@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to a Best Buy Test Database!</h1>
    <p>Click above to view the products.</p>
    <div>
        <img src="/lib/BBY_logo_blog_header_v01.jpg" />
    </div>
</div>
